/* #region Global */
:root {
  /* Pallete */
  --palette-white: #fff;
  --palette-mirage: #1a1f29;
  --palette-indigo: #435dc7;
  --palette-silver: #cccccc;

  --text-color: var(--palette-mirage);
  --heading-color: var(--palette-mirage);
  --border-color: var(--palette-silver);
}

html {
  box-sizing: border-box;
}
/* #endregion */

body {
  background-color: var(--palette-white);
  color: var(--text-color);
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 45rem; /* 720px */
  padding: 0 3.75rem;
  margin: auto;
  margin-top: 2rem;
}

.heading {
  text-align: center;
}

.heading--xxl {
  font-size: 1.5rem;
}

.collapsible__list {
  max-width: 70%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.collapsible__item {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
}

.collapsible__input {
  display: none;
}

.collapsible__label {
  align-items: center;
  cursor: pointer;
  transition: 0.45s;
}

.label-description {
  display: flex;
  justify-content: space-between;
}

.collapsible__content {
  overflow-y: hidden;
  height: 0;
  opacity: 0;
  transition: 1s;
}

.content-img {
  width: 15rem;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.collapsible__input:checked ~ label {
  color: var(--palette-indigo);
}

ul li input[type="radio"] ~ label i {
  visibility: hidden;
  /* transition: 1s; */
}

ul:hover li input[type="radio"] ~ label i {
  visibility: visible;
}

.collapsible__input:checked ~ .collapsible__content {
  height: 19rem;
  opacity: 1;
}

ul li input[type="radio"] ~ label i {
  transition: 0.45s;
}

ul li input[type="radio"]:checked ~ label i {
  transform: rotate(45deg);
}

.collapsible__input:checked ~ .collapsible__label .collapsible__content {
  height: 19rem;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  .collapsible__input:hover ~ .collapsible__content {
    height: 19rem;
    opacity: 1;
  }

  ul li input[type="radio"]:hover ~ label i {
    transform: rotate(45deg);
  }

  .collapsible__input:hover ~ .collapsible__label .collapsible__content {
    height: 19rem;
    opacity: 1;
  }
}

@media (max-width: 820px) {
  body {
    font-size: 16px;
  }
  .collapsible__input:checked ~ .collapsible__label .collapsible__content {
    height: 17rem;
  }
}

@media (max-width: 430px) {
  .collapsible__input:checked ~ .collapsible__label .collapsible__content {
    height: 12rem;
  }
}

@media (max-width: 335px) {
  body {
    font-size: 12px;
  }
  .container {
    padding: 0 2.75rem;
    margin-top: 2rem;
  }
  .collapsible__input:checked ~ .collapsible__label .collapsible__content {
    height: 10rem;
  }
}
