/* #region Global */
:root {
  /* Pallete */
  --palette-white: #fff;
  --palette-mirage: #1a1f29;
  --palette-indigo: #435dc7;
  --palette-silver: #cccccc;

  --text-color: var(--palette-mirage);
  --heading-color: var(--palette-mirage);
  --border-color: var(--palette-silver);
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--palette-white);
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 45rem; /* 720px */
  padding: 0 3.75rem;
  margin: 0 auto;
}
/* #endregion */

.collapsible__list {
  margin-top: 3rem;
}

